## <font color="maroon"><h4 align="center"> DataFrame Basics (Exercise)</font>

**Peter Pandey** arrived in Bangalore(a city in India) with the aim of finding a suitable house that fits his budget and location preferences. He has some queries related to house selection and is seeking solutions.

Help Peter Pandey to answer his questions and you are provided with a sample dataset of house information that contain area_type, availability, location, size, society, total_sqft, bath, balcony, and price.

In [1]:
import pandas as pd

### <font color="purple">**Question1**</font>
- Read the csv file 'bengaluru_house_prices.csv' and store it in variable 'df'.
- print the number of rows and columns in it
- print the Top 5 rows

In [8]:
#read the csv file
df = pd.read_csv("bengaluru_house_prices.csv")

#show the number of rows and columns in dataframe 'df'
print(df.shape[0])


#show Top5 rows
df.head(5)

50

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,Ready To Move,Ambedkar Nagar,3 BHK,NaN,1920,4.0,2.0,121.0
1,Plot Area,18-Aug,Hulimavu,4 Bedroom,ValleCi,1500,4.0,3.0,192.0
2,Super built-up Area,Ready To Move,Kalkere,2 BHK,Sothin,925,2.0,1.0,55.0
3,Plot Area,Ready To Move,Kodigehalli,2 Bedroom,NaN,500,1.0,0.0,55.0
4,Super built-up Area,Ready To Move,Harlur,2 BHK,Prncyrn,1174,2.0,1.0,74.0

### <font color="purple">**Question2**</font>
- show the unique categories present in **'area_type'** and **'size'** columns

In [14]:
#unique values in 'area_type' column
df['area_type','size'].unqiue()

KeyError: ('area_type', 'size')

In [13]:
#unique values in 'size' column
df['size'].unique()

array(['3 BHK', '4 Bedroom', '2 BHK', '2 Bedroom', '1 BHK', '5 BHK',
       '3 Bedroom', '5 Bedroom', '1 Bedroom'], dtype=object)

### <font color="purple">**Question3**</font>
- Filter data which have **'2 BHK'** house size and area_type of **'Super built-up  Area'**
- Also get the count of such rows

In [55]:
#filter the data


df[(df.area_type=="Super built-up  Area")&(df['size'] == "2 BHK")].head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
2,Super built-up Area,Ready To Move,Kalkere,2 BHK,Sothin,925,2.0,1.0,55.00
4,Super built-up Area,Ready To Move,Harlur,2 BHK,Prncyrn,1174,2.0,1.0,74.00
5,Super built-up Area,Ready To Move,Jakkur,2 BHK,HRaniIb,1202,2.0,1.0,79.00
8,Super built-up Area,Ready To Move,Thubarahalli,2 BHK,ShdhiSa,1200,2.0,2.0,79.55
11,Super built-up Area,17-Oct,Ramagondanahalli,2 BHK,ViistLa,1235,2.0,1.0,52.04

In [56]:
#show the number of rows for the filtered data
df[(df.area_type=="Super built-up  Area")&(df['size'] == "2 BHK")].shape[0]

20

### <font color="purple">**Question4**</font>
- Add a new column **'price_category'** which contain a category based on the price of house.
- If price of house is less than 80, **"Affordable"**, otherwise **"High Cost"**

In [60]:
#Add the column 'price_category'
df['price_category'] = df.price.apply(lambda x : "Affordable" if x < 80 else "High Cost")

,area_type,availability,location,size,society,total_sqft,bath,balcony,price,price_category
0,Super built-up Area,Ready To Move,Ambedkar Nagar,3 BHK,NaN,1920,4.0,2.0,121.0,High Cost
1,Plot Area,18-Aug,Hulimavu,4 Bedroom,ValleCi,1500,4.0,3.0,192.0,High Cost
2,Super built-up Area,Ready To Move,Kalkere,2 BHK,Sothin,925,2.0,1.0,55.0,Affordable
3,Plot Area,Ready To Move,Kodigehalli,2 Bedroom,NaN,500,1.0,0.0,55.0,Affordable
4,Super built-up Area,Ready To Move,Harlur,2 BHK,Prncyrn,1174,2.0,1.0,74.0,Affordable

In [61]:
#show the updated dataframe: top5 rows
df.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price,price_category
0,Super built-up Area,Ready To Move,Ambedkar Nagar,3 BHK,NaN,1920,4.0,2.0,121.0,High Cost
1,Plot Area,18-Aug,Hulimavu,4 Bedroom,ValleCi,1500,4.0,3.0,192.0,High Cost
2,Super built-up Area,Ready To Move,Kalkere,2 BHK,Sothin,925,2.0,1.0,55.0,Affordable
3,Plot Area,Ready To Move,Kodigehalli,2 Bedroom,NaN,500,1.0,0.0,55.0,Affordable
4,Super built-up Area,Ready To Move,Harlur,2 BHK,Prncyrn,1174,2.0,1.0,74.0,Affordable

### <font color="purple">**Question5**</font>

- Get all the rows that has prices greater than **mean/average** price of all houses

In [63]:
#write condition here
print(df.price.mean())
df_p = df[df.price > df.price.mean()]
df_p.head()

82.0708

,area_type,availability,location,size,society,total_sqft,bath,balcony,price,price_category
0,Super built-up Area,Ready To Move,Ambedkar Nagar,3 BHK,NaN,1920,4.0,2.0,121.0,High Cost
1,Plot Area,18-Aug,Hulimavu,4 Bedroom,ValleCi,1500,4.0,3.0,192.0,High Cost
9,Plot Area,Ready To Move,Whitefield,4 Bedroom,Adowslm,3100,4.0,2.0,350.0,High Cost
16,Super built-up Area,18-Dec,Hebbal,3 BHK,Mahosya,1920,3.0,2.0,134.0,High Cost
18,Built-up Area,Ready To Move,Rayasandra,5 BHK,NaN,3600,5.0,3.0,145.0,High Cost